/* Colours */

$foreground     : #232323;
$background     : #FFFFFF;
$separator      : #ccc;
$rlblue         : #050692;
$rlcode_fg      : #000;
$rlcode_bg      : #FDFEFB;
$rlcode_bdr     : #D7D8C8;
$table_hdr_bgnd : #232323;
$table_hdr_fgnd : #FDFEFB;
$rlhdr_blue     : #155799;
$rlhdr_green    : #159957;
$light_blue     : #0506CF;
$dark_blue      : #050692;
$light_stop     : #f8f8f8;
$dark_stop      : #dddddd;
$light_fade     : #0066CC;
$dark_fade      : #004080;

/* Icons - Paths relative to css directory */
$arrow          : "../img/arrow-down.png"; 
$octocat        : "../img/octocat-small.png";

/* Font Sizes */
$fs-body        : 14px;
$fs-h1          : 30px;
$fs-h2          : 24px;
$fs-h3          : 18px;
$fs-hdr         : 16px;
$fs-small       : 12px;
