---
---

@import "rlskin";
@import "rouge-github";
@import "roalogic";

/* Custom styles */

.center {
  text-align: center;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.max {
  img {
    width: 100%;
    max-width: 500px;
  }
}

.logo {
  max-width: 150px;
  padding: 10px 20px 10px 20px;
}

.download-pdf {
  padding-top: 20px;
  img {
    max-width: 25px;
    margin: 0 10px 0 0;
    float: left;
  }
}

